.contai-product-grid{
  display: flex;
  flex-direction: column;
}

//Vista para tablets
@media screen and (min-width: 40em) and (max-width: 63.9em){
  .contai-product-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
}

//Vista para WEB
@media screen and (min-width: 64em){
  .contai-product-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
  }
}
